{% extends "src/module.html" %}

{% macro sideBarFuc(className, id) %}
<div class="{{ 'col-3 ' ~ className if className is defined else 'col-3' }}" {% if id is defined %}id="{{ id }}"{% endif %}>
    {{ caller() }}
</div>
{% endmacro %}

{% macro contentFuc(className, id) %}
<div class="{{ 'col-9 ' ~ className if className is defined else 'col-9' }}" {% if id is defined %}id="{{ id }}"{% endif %}>
    {{ caller() }}
</div>
{% endmacro %}

{% block body %}
<div class="container-fluid h-100">
    <div class="row h-100">
        {% block sideBar %}{% endblock sideBar %}
        {% block content %}{% endblock %}
    </div>
</div>
{% endblock body %}